[submodule "Baseband-Guard"]
	path = Baseband-Guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/samakshkambxj/KernelSU-Next
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/pershoot/susfs4ksu/
	branch = gki-android14-6.1-dev
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
